/* your beautiful css styling goes here! */
body, html{
  height:100%;
}

body{
  margin: 0px;
  background-color: #f2f2f2;
  font-size: 18px;
}

.board svg {
	background-color: pink;
}

.whitehouse {
  background-image: url('whiteHouse.jpg');
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

